.advantages {
    background-image: linear-gradient(174.5deg, #fff 0px, #fff 222px, #f2f2f2 223px, #f2f2f2 100%);
}

.advantages__slogan {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 300;    
}

.advantages__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 110px;
    text-align: center;
}

.advantages__title {
    margin: 0;
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.advantages__description{
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.advantages__iphones {
    margin-top: 40px;
    height: 277px;
    display: flex;
    justify-content: center;

}


@media (min-width: $table-width) and (max-width: $desktop-width) {
    .advantages__inner-wrapper {
        display: flex;
        margin-top: 10px;
    }

    .advantages__iphones {
        margin-top: 45px;
        margin-left: 10px;
        height: 484px;
        order: -1;
    }
    
    .advantages__list {
        text-align: left;
        margin-top: 80px;
        margin-left: 40px;
    }
    .advantages__slogan { 
        font-size: 40px;
        margin-top: 0px;
    }
    
    .advantages__slogan:first-of-type { 
        margin-top: 50px;
    }
    
}

@media (min-width: $desktop-width) {

    .advantages {
        background-image: linear-gradient(175.5deg, #fff 0px, #fff 352px, #f2f2f2 353px, #f2f2f2 100%);
    }

    .advantages__slogan { 
        font-size: 50px;
        margin-top: 5px;
    }

    .advantages__slogan:first-of-type { 
        margin-top: 70px;
    }
    
    .advantages__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    }

    .advantages__iphones {
        order: -1;
        margin-top: 0;
    }

    .advantages__list {
        display: flex;
        justify-content: space-between;
        margin-top: 47px;
        width: 880px;
    }

    .advantages__item {
        width: 240px;
    }

    .advantages__title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
    }

    .advantages__description {
        margin-top: 25px;
        font-size: 18px;
        line-height: 30px;

    }
}
