.application {
    background-image: url("../img/iphone-5-in-hand-png.png"), url("../img/back-tablet@1x.jpg");
    background-size: auto, 760px auto;
    background-repeat: no-repeat;
    background-position: 50% 175px, 50% 30px;

    color: #fff;
    background-color: #1d2631;
    margin-top: -110px;
    border-top: 1px solid transparent;

    

}


.application__wrapper {
    margin-top: 462px;
    padding-top: 18px;
    padding-bottom: 20px;
    height: 230px;
    width: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.application__slogan { 
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}


.application__button {
    color: #fff;
    text-decoration: none;
    width: 280px;
}

.application__os-list {
    margin: 0;
    padding: 0;
    width: 210px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.application__os-item--apple {
    display: block;
    background-repeat: no-repeat;
    width: 47px;
    height: 57px;
    background-image: url("../img/apple-logo.png");
}

.application__os-item--android {
    display: block;
    width: 43px;
    height: 47px;
    background-image: url("../img/android-logo.png");
}

.application__os-item--windows {
    display: block;
    width: 44px;
    height: 41px;
    background-image: url("../img/microsoft-logo.png");
}

.application__platforms {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    width: 280px;
}

@media (max-width: $table-width) {
    .application__container {
        background-color: #1d2631;
        margin: 0;
        width: 100%;
        padding: 0;
    }


    .application__wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    
  }

@media (min-width: $mobile-width) and (max-width: $table-width) {
    .application__slogan {
        display: none;
    }    
    
  }

  @media (min-width: $table-width) and (max-width: $desktop-width) {
    .application {
        background-image: url("../img/iphone-6-in-hand-png.png"), url("../img/back-tablet@1x.jpg");
        background-size: auto, cover;
        background-position: 50% 100%, 0% 0px;
        min-height: 729px;
    }
    
    .application__wrapper {
        margin-top: 180px;
        margin-left: 15px;
        height: 460px; 
    }

    .application__button {
        width: 310px;
    }

    .application__platforms {
        font-size: 18px;
        width: 310px;
    }
}

@media (min-width: $desktop-width) { 
    .application {
        background-image: url("../img/iphone-6.png"), url("../img/bg-back-desktop@1x.jpg");
        background-position: 50% 100%, 50% 0px;
        background-size: auto, cover;
        min-height: 853px;
        height: 100vh;       
    }

    
    .application__wrapper {
        margin-top: 190px;
        height: 570px; 
    }

    @media (min-height: 853px) {
        .application__wrapper {
            margin-top: calc(100vh - 660px);
        }
    }


    .application__slogan {
        font-size: 50px;
    }

    .application__button {
        width: 300px;
        font-size: 21px;
    }

    .application__platforms {
        font-size: 18px;
        width: 310px;
    }

}


  