.main-nav {
    position: relative;
    padding-top: 22px;
    padding-bottom: 19px;
    background-color: rgba($color: #000, $alpha: 0.3);
}

.main-nav__logo {
    margin-left: 20px;
    margin-top: 20px;
}

.main-nav__logo[href]:hover svg{ 
    fill: $pink-main;
}

.main-nav__logo[href]:active svg{ 
    fill: white;
    opacity: 0.3;
}

.main-nav__logo--mobile {
    width: 75px;
    height: 22px;
    fill: #fff;
}

.main-nav__logo--table {
    width: 147px;
    height: 40px;
    fill: #fff;
}

.main-nav__logo[href] .main-nav__logo--table:hover,
.main-nav__logo[href] .main-nav__logo--mobile:hover {
    fill: #d22856;
}

.main-nav__logo--desktop {
    width: 147px;
    height: 40px;
    fill: #fff;
    color: #d22856;
}

.main-nav__list {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 23px;

    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #283645;
    border-top: 1px solid #000;
}



.main-nav--close .main-nav__list {
    display: none;
}

.main-nav__item {
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #485461;
}

.main-nav__item a[href]:hover{ 
    color: #d22856;
}

.main-nav__item a[href]:active{ 
    color: #d22856;
    opacity: 0.3;
}

.main-nav__list a {
    display: block;
    padding-top: 17px;
    padding-bottom: 13px;
    color: #fff;
    text-decoration: none;
}

.main-nav__taggle {
    position: absolute;
    top: 20px;
    right: 19px;
    border: none;
    width: 50px;
    height: 23px;
    background-color: transparent;
    background-image: url("../img/menu-burger.png");
}

.main-nav--open .main-nav__taggle {
    width: 24px;
    background-image: url("../img/menu-cross.png"); 
}


@media (min-width: $table-width) and (max-width: $desktop-width) {
    .main-nav {
        padding-bottom: 42px;      
    }

    .main-nav__taggle {
        top: 45px;
    }

    .main-nav__list {
        margin-top: 40px;
    }
}

@media (min-width: $desktop-width) { 
    .main-nav__taggle {
        display: none;
    }

    .main-nav {
        height: 110px;
        box-sizing: border-box;
    }

    .main-nav__wrapper {
        width: 940px;

        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .main-nav__list {
        display: flex !important;
        justify-content: space-between;

        margin: 0;
        width: 620px;

        border: none;
        background-color: transparent;

        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        text-transform: initial;
    }

    .main-nav__list a{ 
        padding-top: 23px;
        padding-bottom: 10px;

        &[href]:hover {
            color: #d22856;
        }

        &[href]:active {
            color: rgba($color: #fff, $alpha: 0.3);
        }
    }

    .main-nav__list a:not([href]) {
        border-bottom: 2px solid #fff;
    }

    .main-nav__item {
        border: none;
    }

}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
    .main-nav--open {
        background-color: #283645;
        padding-bottom: 0;       
    }
}

@media (min-width: $mobile-width) and (max-width: $table-width) {
    .main-nav--open {
        background-color: #283645;
        padding-bottom: 0;       
    }

    .main-nav__logo--desktop {
        display: none;
    }

    .main-nav__logo--table {
        display: none;
    }
    
}

@media (min-width: $table-width) and (max-width: $desktop-width) {
    .main-nav__logo--mobile {
        display: none;
    }

    .main-nav__logo--desktop {
        display: none;
    }
    
}

@media (min-width: $desktop-width){
    .main-nav__logo--mobile {
        display: none;
    }

    .main-nav__logo--table {
        display: none;
    }
    
}
