.svg-logo-desk {
	background: url("svg/sprite.css-d0589541.svg") 0 0 no-repeat;
}

.svg-logo-desk-dims {
	width: 195.067px;
	height: 53.833px;
}

.svg-logo-mobile {
	background: url("svg/sprite.css-d0589541.svg") 0 99.21580552714272% no-repeat;
}

.svg-logo-mobile-dims {
	width: 99.236px;
	height: 30.481px;
}

.svg-logo-table {
	background: url("svg/sprite.css-d0589541.svg") 0 63.21023894792462% no-repeat;
}

.svg-logo-table-dims {
	width: 195.067px;
	height: 53.835px;
}

